
* {
    font-family: FiraCode Nerd Font;
    font-size: 15px;
}





/*************************************************************************/


window#waybar {
    background-color: rgba(38, 23, 21, .6);
}

tooltip {
  background: rgba(13, 19, 24, 1);
  border: 2px solid rgba(7, 98, 144, .7);
}

tooltip label {
  color: #dbd9d8;
}

/*************************************************************************/

/*
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}
*/

/*************************************************************************/


#workspaces button {
    border-radius: 10px;
    transition: ease 0.3s;
    /*First is top. Second is right Third is bottom. Fourth is either left*/
    padding: 4px 10px 4px 10px;
    color: #82B527; 
}


/*************************************************************************/


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


/*************************************************************************/


#workspaces button.active {
   color: #e27613;
}


/*************************************************************************/


#workspaces button.focused {
    background-color: #F9BC3C;
    box-shadow: inset 0 -3px #ffffff;
}


/*************************************************************************/


#workspaces button.urgent {
    color: purple;
}


/*************************************************************************/


#workspaces {
    border-radius: 10px;
}


/*************************************************************************/


#clock,
#tray,
#custom-github,
#custom-power,
#custom-weather,
#custom-wireguard,
#custom-updates-pacman-aur,
#custom-notification
{
    margin-left: 4px;
    margin-right: 4px;
    color: #82B527;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 10px;
}


/*************************************************************************/


#pulseaudio,
#custom-media,
#cava,
#window
{
    transition: ease 0.3s;
    color: #82B527;
    padding-left: 10px;
    padding-right: 12px;
    border-radius: 10px;
}


/*************************************************************************/


#pulseaudio,
#custom-media
{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0px;
}


/*************************************************************************/


#custom-media,
#cava,
#custom-power
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
}


/*************************************************************************/



#cava.empty
{
    background-color: transparent;
}

/*************************************************************************/


#custom-power {
   color: #F4D9A5;
   background-color: #180E0F;
   margin-right: 0;
   border-radius: 12px 0px 0px 12px;
}


#custom-notification {
  color: #A48E3A;
}


#custom-media {
  color: #F4D9A5;
}
/*************************************************************************/


/* If workspaces is the leftmost module, omit left margin */
.modules-left {
    padding-right: 150px;
}


/*************************************************************************/


/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/*************************************************************************/


label:focus {
    background-color: #000000;
}


/*************************************************************************/


#custom-github {
  color: #ec5e18;
}


#custom-wireguard {
  color: #003300;
}


#custom-weather.severe {
    color: #eb937d;
}

#custom-weather.sunnyDay {
    color: #c2ca76;
}

#custom-weather.clearNight {
    color: #2b2b2a;
}

#custom-weather.cloudyFoggyDay, #custom-weather.cloudyFoggyNight {
    color: #c2ddda;
}

#custom-weather.rainyDay, #custom-weather.rainyNight {
    color: #5aaca5;
}

#custom-weather.showyIcyDay, #custom-weather.snowyIcyNight {
    color: #d6e7e5;
}

#custom-weather.default {
    color: #dbd9d8;
}
